@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.buttonWithBg {
  transition: all 0.1s ease-in-out;
}
.buttonWithBg:hover {
  background-color: #df3838;
}
